body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.caixa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 20px;
    padding: 1vw;
    width: 300px;
    margin-top: 2vw;
}

.qr-code {
    border-radius: 15px;
    margin: 0 auto;
    width: 95%;
    margin-top: 10px;
}

.caixa h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.6em;
    padding: 10px 20px 0 20px;
    font-weight: bold;
}

.caixa p {
    font-size: 1.2em;
    color: hsl(220, 15%, 55%);
    padding: 8px 20px;
}

.attribution {
    font-size: 0.7em; 
    text-align: center; 
    margin-top: 2vw;
    justify-self: flex-end;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}